{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	home | securetube
{% endblock %}

{% block content %}	
	<br>
	
	<div class="ui grid">
		<div class="twelve wide column">
			<div class="ui blue segment">
			<h2 class="ui header">Welcome to SecureTube</h2>

			<p>SecureTube is a new, free and secure way to watch YouTube videos. For the geeks among us. It's open source and powered by Python/Django.</p>
			</div>
		</div>

		<div class="four wide column">
			<div class="ui vertical menu">
				<div class="header item">Stats</div>
				<a class="item">
					Requests
					<div class="ui label">1</div>
				</a>
				<a class="item">
					Users
					<div class="ui label">24</div>
				</a>
				<a class="item">
					Updates
					<div class="ui label">1</div>
				</a>
			</div>


	</div>

{% endblock %}
