{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Home | SecureTube
{% endblock %}

{% block content %}	
	<br>
	<br>
	
	<div class="ui grid">
		<div class="twelve wide column">
			<h2 class="ui grey header">Welcome to SecureTube</h2>

			<p class="ui grey p_text">
			SecureTube is a new, free and secure way to watch YouTube videos. For the geeks among us. It's open source and powered by Python/Django.
			</p>
			<br>
			<p class="ui grey p_text">
			SecureTube is for anyone who enjoys Google free experience. No more annoying ads or country restrictions. Join us! to enjoy more features like subscribing to a channel. Cheers!
			</p>
		</div>

		<div class="four wide column">
			<div class="ui vertical menu">
				<a class="item">
					<h3 class="ui grey header">Features</h3>
					<p class="grey p_text">AD Free<p>
					<p class="grey p_text">Zero Logs<p>
					<p class="grey p_text">Zero JavaScript<p>
					<p class="grey p_text">Anonymous<p>
					<p class="grey p_text">No YouTube API</p>
				</a>
			</div>
		</div>


	</div>

{% endblock %}
