{% extends 'base.html' %} 
{% load staticfiles %} 

{% block title %} Play | SecureTube {% endblock %} 

{% block content %}

	<div class="ui grid">

		<div class="thirteen wide column">
			<video src="{{ data }}" controls class="ui fluid image">
			</video>
		</div>

		
		<div class="three wide column">
			<div class="ui vertical text menu">
				<div class="item">
					<form method="POST" action="/results">
						{% csrf_token %}
						<h4 class="ui header grey">{{ meta.title }}</h4>
						<input type="text" value="{{ meta.author_url }}"
							hidden name="query">
						<p>{{ meta.author_name }}</p>
						<input type="text" value="subscribe" hidden 
							name="status">
						<input type="submit" value="Subscribe"
							class="ui small button">
					</form>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
