{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<title>{% block title %} {% endblock %}</title>
		<link rel='stylesheet' href="{% static 'css/semantic.min.css' %}">
		<link rel='stylesheet' href="{% static 'css/styles.css' %}">
	</head>

	<body>

		<div class="ui container">
		
			<div class="ui horizontal list">
				<div class="item">
					<a href="/" class="ui tiny image">
						<img src="{% static 'img/icon.png' %}">
					</a>
				</div>
				<div class="item">
					<form class="ui form" method="POST" action="/results">
						{% csrf_token %}
						<div class="ui big input">
							<input type="text" placeholder="Search SecureTube" name="query">
						</div>
					</form>
				</div>

				<div class="item nav_bar_right">

				</div>

				<div class="item">
					<a href="#" class="ui button">Login</a>
				</div>
				<div class="item">
					<a href="#" class="ui button">Contribute</a>
				</div>

			</div>

			<div>		
				{% block content %}

				{% endblock %}
			</div>

		</div>

	</body>

</html>
